.products {
    display: grid;

    width: 100%;
}

.mainProduct {
    display: inline-flex;
    width: 100%;
}

.mainProduct>img {
    width: 628px;
    padding-right: 6em;
}

.productDescr {
    grid-area: 1 / 2 / 2 / 4;
    font-family: 'Jost';
    width: 86%;
    padding-left:6em;
}



.productDescr h2 {
    font-size: 2em;
}

.price {
    font-size: 1.4em;
    font-weight: bold;
}

.imgList {
    width: 100%;
    padding: 0em 4em;
}

.buy {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    font-size: 1.1em;

    display: block;
    border-radius: 1em;
    padding: 0.7em 2em;
    font-family: 'Jost';
}

.buy:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
    font-size: 1.2em;
}

.sizes>a {
    text-decoration: none;
}

.talla {
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    padding: 0.5em 4em;
    display: inline-flex;
    font-family: 'Jost';
    background-color: #000000;
    color: #fff;
}

.sizes {
    margin-bottom: 20px;
    font-family: 'Jost';

}

.talla:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
}

.shoeIcon {
    width: 30px;
    padding: 10px;
}

/*mainProduct*/
.shoe1 {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    padding: 6em 2em 0em;
}

.shoe>img {
    width: 200px;
}

.shoe>p {
    text-align: center;
}

img~a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.3em;
}

.shoe2 {
    grid-area: 2 / 2 / 3 /3;
    text-align: center;
    padding: 6em 2em 0em;

}

.shoe3 {
    grid-area: 2 / 3 / 3 / 3;
    text-align: center;
    padding: 6em 2em 0em;

}
.shoe4 {
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
    padding: 6em 18em 0em 0em;

}

