*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container{
    width: 100%;
    background-color: #f2f2f2;
}

#header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #000;
    background-color: #e4e4e4;
}

#div_logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 0.2;
}

.logo_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#div_list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-grow: 0.5;
}

.list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    list-style: none;
}

.list a{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: all 300ms;
}

.list a:hover{
    transform: scale(1.1);
}

#search_div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-grow: 0.2;
}

.search_label{
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-grow: 0.3;
    background-color: #eeeeee;
    transition: all 300ms;
}

.search_label:hover{
    cursor: pointer;
    background-color: #c2c2c2;
}

.search_label input{
    width: 75%;
    background-color: transparent;
    border: none;
    height: 100%;
    outline: none;
    padding: 10px;
    font-size: 15px;
}

.search_label img{
    width: 24px;
    height: 24px;
}

#profile_div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-grow: 0.05;
}

.user{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
}

.user img{
    height: 30px;
    width: 30px;
}

#cart_div{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-grow: 0.05;
    position: relative;
}

.cart{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: all 300ms;
}

.cart img{
    width: 38px;
    height: 38px;
}

.notification{
    position: absolute;
    top: 30px;
    left: 55px;
    background-color: orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}

#div_progress_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.steps{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.steps span{
    display: flex;
    justify-content: center;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.circle{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

#div_clothes{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.clothes_title{
    margin-left: 10px;
}

.clothes_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product_article {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid rgb(182, 182, 182);
}

.button_div_products{
   display: flex;
   width: 100%;
   margin-left: 10px;
   margin-bottom: 10px;
}

.product_article span{
    margin-left: 10px;
}

.product_price{
    font-weight: bold;
}

.product_article h1{
    margin-top: 5px;
    margin-left: 10px;
}

.product_article img{
    width: 500px;
    height: 500px;
}

.product_article button{
    width: 25%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 300ms;
}

.product_article button:hover{
    transform: scale(1.1);
}

#profile_form_div{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}

#shipping_form_div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

.form_shipping{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_shipping input{
    width: 40%;
    border: 1px solid black;
}

.regular_address_div{
    width: 46%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.phone{
    display: flex;
    width: 40%;
}

.input_tel{
    width: 70% !important;
    margin-left: 3px;
}

#submit_div_shipping{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#submit_div_shipping input{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 3px;
}

#submit_div_shipping input:nth-child(2){
    background-color: black;
    color: white;
}

#submit_div_shipping input:nth-child(1){
    background-color: white;
    color: black;
}

.form_profile{
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.form_profile input[type='text'], input[type='password']{
    width: 20%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #000;
}

.form_profile label{
    font-weight: bold;
}

#form_div_buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#form_div_buttons input{
    width: 40%;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#form_div_buttons input:nth-child(2){
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
}

#footer{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    padding-top: 20px;
}

#about_us_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

#about_us_div span{
    width: 450px;
}

#faqs_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.faqs_list,  .shops_list{
    list-style: none;
}

#location_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

#social_network_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}

.divider{
    height: 180px;
    border: 1px solid rgb(255, 255, 255);
}


#network_img_div img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


#shopping_cart_div{
    height: 65vh;
    display: none;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 10px;
}

#total_div{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin-right: 10px;
}

#total_info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#total_info p{
    font-size: 20px;
    font-weight: bold;
}

#total_info p:nth-child(1){
    color: rgb(105, 105, 105);
    margin-bottom: 5px;
}

#total_info p:nth-child(2){
    font-size: 35px;
}


#products_cart_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.product_cart_article{
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
}

.product_cart_article button{
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
    transition: all 300ms;
}

.product_cart_article button:hover{
    background-color: rgb(236, 236, 236);
}

.div_img_product{
    height: 100%;
}

.div_img_product img{
    width: 100px;
    height: 100%;
}

.div_products_info{
    width: 85%;
    height: 100%;
    margin-left: 30px;
}

.div_buttons{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clear_cart{
    display: none;
}


/* Agustin CSS */
.div_products {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: none;
}

.mainProduct {
    display: inline-flex;
    width: 100%;
}

.mainProduct>img {
    width: 100%;
}

.productDescr {
    grid-area: 1 / 2 / 2 / 4;
    width: 86%;
    padding-left:6em;
}

.inline{
    list-style: none;
    padding-left: 20px;
    margin-bottom: 10px;
}
.inline p{

    padding: 15px 0;

}
.colors{
    width: 100%;
    display: flex;
}

.productDescr h2 {
    font-size: 2em;
}

.price {
    font-size: 1.4em;
    font-weight: bold;
}

.imgList {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

.buy_button {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    font-size: 1.1em;

    display: block;
    border-radius: 1em;
    padding: 0.7em 2em;


    transition: all 300ms;
    margin-bottom: 10px;
}

.buy_button:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
    transform: scale(1.2);
}

.sizes>a {
    text-decoration: none;
}

.talla {
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    font-size: 1em;
    padding: 0.5em 4em;
    display: inline-flex;
    background-color: #000000;
    color: #fff;
}

.sizes {
    margin-bottom: 20px;
}

.talla:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.534);
}

.shoeIcon {
    width: 30px;
    padding: 10px;
}

/*mainProduct*/
.shoe1 {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    padding: 6em 2em 0em;
}

.shoe>img {
    width: 200px;
}

.shoe>p {
    text-align: center;
}

img~a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.3em;
}

.shoe2 {
    grid-area: 2 / 2 / 3 /3;
    text-align: center;
    padding: 6em 2em 0em;
}

.shoe3 {
    grid-area: 2 / 3 / 3 / 3;
    text-align: center;
    padding: 6em 2em 0em;

}
.shoe4 {
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
    padding: 6em 18em 0em 0em;
}

#shipping{
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    display: none;
}

#shipping_type{
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
}

.checkbox_gift{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#message_text{
    display: none;
    width: 20%;
    height: 150px;
    margin-bottom: 10px;
}